.lunbo {
  width: 100%;
  height: 720rpx;
}
.lunbo swiper-item image {
  width: 100%;
  height: 720rpx;
}
.box {
  width: 100%;
  height: 300rpx;
  box-sizing: border-box;
  padding: 0 15rpx;
  border-bottom: 20rpx solid #f4f4f4;
}
.box .price {
  height: 120rpx;
  width: 100%;
  line-height: 120rpx;
  color: #eb4450;
  font-size: 20px;
}
.box .mess {
  display: flex;
  width: 100%;
}
.box .mess .word {
  width: 590rpx;
  font-size: 16px;
  padding-right: 80rpx;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.box .mess .shoucang {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.box .mess .shoucang span {
  text-align: center;
  font-size: 14px;
  color: #999;
}
.box .mess .shoucang .mybtn {
  position: absolute;
  top: 25rpx;
  left: 35rpx;
  height: 50rpx;
  opacity: 0;
}
.box .pass {
  height: 100rpx;
  line-height: 100rpx;
  font-size: 16px;
  color: #999;
}
.jieshao {
  width: 100%;
}
.jieshao .title {
  height: 100rpx;
  line-height: 100rpx;
  color: #999;
  padding-left: 20rpx;
}
.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100rpx;
  line-height: 100rpx;
  display: flex;
  text-align: center;
}
.bottom .callme,
.bottom .cart {
  width: 20%;
  height: 100rpx;
  line-height: 45rpx;
  font-size: 14px;
  color: #999;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.bottom .incart,
.bottom .buy {
  width: 30%;
  height: 100rpx;
  font-size: 16px;
  color: #fff;
}
.bottom .incart {
  background-color: #f4b73f;
}
.bottom .buy {
  background-color: #eb4450;
}
